.container {
    max-width: 500px;
    margin: 20px;
    padding: 20px;

    border-radius: 8px;
    display:block;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 20px auto;
}
p {
    color: #555;
    text-align: justify;
}
#articlecontent{
    max-width: 500px;
}